{% extends 'base.html.twig' %}

{% block title %}First Page{% endblock %}

{% block body %}
<h1>
    votre numéro est {{ number }}
</h1>
<a href="{{ path('blog') }}">Accéder au blog</a>
{% endblock %}